<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>sign in</title>

    <style>
        body{
	
        background-color: aqua;
        color: red;
		background-image:url(https://images.pexels.com/photos/45853/grey-crowned-crane-bird-crane-animal-45853.jpeg?auto=compress&cs=tinysrgb&w=600);
		background-size: inherit;
		background-repeat: no-repeat;
		background-position:unset;
		background-attachment: initial;

        }


	
	</style>

</head>
<body>

    {% for message in messages %}
        <div class="alert alert-{{ message.tags }}alert-dismissible fade show" role="alert">
        <strong>message:"good" </strong>{{ message }}
        <button type="button" class="close" data-dismiss="alert" aria-label="close">
        <span aria-hidden="true">&times;;</span>
    </button>
    </div>
    {% endfor %}
    <h2>
        <a href="http://www.amazon.in/">Home</a>
    
        <a href="http://www.amazon.in/">About</a>
        
        <a href="http://www.amazon.in/">Contact</a>
        <a href="http://www.amazon.in/">Careers</a>
        <a href="http://www.amazon.in/">Courses</a>
        </h2>

    <h1>Sign in</h1>
    
    <form action="/signin" method="post">
        {% csrf_token %}
        <label for="">User Name</label>
        <input type="text" id="username" name="username" placeholder="Enter your username"required>
        <br>
        <br>

        <label for="">Password</label>
        <input type="password" id="pass1" name="pass1" placeholder="Enter your password"required>
        <br>
        <br>
       <h1>
        <button type="submit">signin</button> 
        </h1>

   

    </form>
    <script src="" async defer></script>
</body>
</html>